In [5]:
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt

In [11]:
yf.download(tickers = "SPY",  # list of tickers
            period = "1y",         # time period
            interval = "1w",       # trading interval
            ignore_tz = True,      # ignore timezone when aligning data from different exchanges?
            prepost = False)       # download pre/post market hours data?

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SPY: Invalid input - interval=1w is not supported. Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [8]:
df.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-03-01  90.160004  91.199997  89.849998  90.510002  90.510002  26323900
2023-03-02  89.860001  92.480003  89.769997  92.309998  92.309998  23328600
2023-03-03  92.739998  94.110001  92.660004  94.019997  94.019997  30220900
2023-03-06  94.360001  96.300003  94.300003  95.580002  95.580002  28272600
2023-03-07  94.360001  96.080002  94.000000  94.135002  94.135002  14800347